<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="shortcut icon" href="https://dd2gn9pwu61vr.cloudfront.net/favicon.ico" />
  <title>Pluto Beta | Academic discovery</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta name="description" content="Pluto's beta service is an search engine for academic articles. Quickly skim through intuitive search feeds, and immediately find articles of your interest. Give more power to Pluto search service by putting your own reviews on research articles. Sign up to Pluto simply with your Facebook, Google, ORCID, or Email accounts, and enjoy the full features of Pluto."
  />

  <meta itemprop="name" content="Pluto Beta | Academic discovery">
  <meta itemprop="description" content="Pluto's beta service is an search engine for academic articles. Quickly skim through intuitive search feeds, and immediately find articles of your interest. Give more power to Pluto search service by putting your own reviews on research articles. Sign up to Pluto simply with your Facebook, Google, ORCID, or Email accounts, and enjoy the full features of Pluto.">
  <meta itemprop="image" content="http://assets.pluto.network/meta-img-search.jpg">

  <meta name="twitter:card" content="Pluto Network">
  <meta name="twitter:site" content="@pluto_network">
  <meta name="twitter:title" content="Pluto Beta | Academic discovery">
  <meta name="twitter:description" content="Pluto's beta service is an search engine for academic articles. Quickly skim through intuitive search feeds, and immediately find articles of your interest. Give more power to Pluto search service by putting your own reviews on research articles. Sign up to Pluto simply with your Facebook, Google, ORCID, or Email accounts, and enjoy the full features of Pluto.">
  <meta name="twitter:creator" content="@pluto_network">
  <meta name="twitter:image" content="http://assets.pluto.network/meta-img-search.jpg">

  <meta property="og:title" content="Pluto Beta | Academic discovery" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="https://search.pluto.network" />
  <meta property="og:image" content="http://assets.pluto.network/meta-img-search.jpg" />
  <meta property="og:description" content="Pluto's beta service is an search engine for academic articles. Quickly skim through intuitive search feeds, and immediately find articles of your interest. Give more power to Pluto search service by putting your own reviews on research articles. Sign up to Pluto simply with your Facebook, Google, ORCID, or Email accounts, and enjoy the full features of Pluto."
  />
  <meta property="og:site_name" content="Pluto Beta" />
</head>

<body>
  <div id="react-app"></div>
  <% if (htmlWebpackPlugin.options.NODE_ENV == 'development') { %>
    <script src="<%= htmlWebpackPlugin.files.js[0] %>"></script>
    <% } else if (htmlWebpackPlugin.options.NODE_ENV == 'stage') { %>
      <script src="https://d2kuw7b5ntygvd.cloudfront.net/stage/<%= htmlWebpackPlugin.files.js[0] %>?<%= Math.floor(Math.random() * 100000000000) %>"></script>
      <% } else { %>
        <script src="https://d2kuw7b5ntygvd.cloudfront.net/<%= htmlWebpackPlugin.files.js[0] %>?<%= Math.floor(Math.random() * 100000000000) %>"></script>
        <% } %>

</body>

</html>
